<!DOCTYPE html>
<html>
<head>
  <title>Puppies!</title>
</head>
<body>
  <h1>Here you'll create a puppy</h1>
  <form method="POST" action="/new">
    <p>Name: <input type="text" name="name"></p>
    <p>Breed: <input type="text" name="breed"></p>
    <p>Age: <input type="text" name="age"></p>
    <p><input type="submit" name="submit" id="submit"></p>
  </form>
</body>
</html>
