<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Puppy Name: <%= @puppy.name %> <br>
    Puppy Breed: <%= @puppy.breed %> <br>
    Puppy Age: <%= @puppy.age %> <br>
  </body>
</html>
